.drop_vert_menu {
  list-style-type: none; 
  width: 5%;
  height: 100%;
  margin: 1% 0 0 0; 
  padding: 3.44% 0 0 0;
  position: absolute;
  background-color: #ffffff;
  border-right: 1px solid beige;
  z-index: 1;
 }
.drop_vert_menu  ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0;
}
.drop_vert_menu > li{
  position: relative;
  background-color: #ffffff;
  padding: 10%;
  border-right: 1px solid beige;
}
.drop_vert_menu > li:hover {
  background-color: #fafafa;
  border-right: 1px solid beige;
  cursor: pointer;
}
.drop_vert_menu > li > a{
  color: white;
  text-decoration:none;
}
.drop_vert_menu li ul {
  position: absolute; 
  display: none; 
  top: 0px; 
  left: 102%; 
 }
.drop_vert_menu li:hover ul {
  display: block; 
}
.drop_vert_menu li ul li{
  text-align:left;
  background: #ffffff;
  padding: 8px 0px 8px 10px;
}
.drop_vert_menu li ul li:hover {
  background: #fafafa;
}
.drop_vert_menu li ul li a{
  font-size:1em;
  color:white;
  text-decoration:none;
}
.drop_vert_menu li ul li a:hover{
  font-size: 1em;
  color: white;
  text-decoration:none;
}
.buttons {
  cursor: pointer;
  width: 100%;
}
.buttons:hover {
  background-color: #aaaaaa;
}