.moduleWraper {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
}
h6 {
  padding: 15px 0 5px 0;
  width: 100%;
  border-bottom: 1px solid beige;
  margin-bottom: 0px;
}
span {
  display: inline-block;
  width: 100%;
}
input {
  border: 1px solid #c3c3c3;
}
.fullOf{
  text-align: left;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 2% 0 0 1.5%;
  width: 100%;
}
.halfOf {
  text-align: left;
  display: inline-block;
  margin: 0;
  padding: 2% 0 0 1%;
  width: 49%;
}
.greyFont {
  color: #808080;
  padding: 0;
  margin: 1% 0 2% 0;
}
.error {
  background-color: white;
}
