button {
  height: 100%;
}
p {
  color: red;
  margin-left: 10px;
}
.meeting {
  display: inherit;
  color: #fff;
  margin: 0 auto;
  padding: 15px 0 0 0;
}
.meeting > span {
  margin: 0 15px 0 5px;
  background-color: #65bb6a;
  border-radius: 10%;
  height: 25%;
}
.header {
  background-color: #3F51B5!important;
  border-bottom: 1px solid #3F51B5;
}
.btn {
  margin: 0;
}
.notifications {
  position: relative;
  padding: 5px;
  cursor: pointer;
}
.notifications:hover {
  background: #02157f;
  border-radius: 5px;
}
.fa-envelope {
  color: #fff;
  font-size: 2em;
}
.unread {
  color: red;
  position: absolute;
  right: 0px;
  top: 18px;
  font-size: 1.3em;
}